:root {
  --white: #fff;
  --primary: #61ECBC;
  --black: #000;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url(/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  max-width: 60rem;
  width: 95%;
  margin: 0 auto;
}

.app-title {
  font-size: 3.8rem;
  margin-top: 5rem;
  color: var(--white);
  line-height: .8;

  span {
    display: block;
    color: var(--primary);
    font-size: 4.4rem;
  }
}

.content {
  margin-top: 5rem;
  padding: 6rem 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}